<div class="text-danger" *ngIf="!isProductManager()">
    <h3>Unauthorized</h3>
</div>
<div style="width: 500px; margin: auto;" *ngIf="isProductManager()">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="product.name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="price">Price</label>
          <input
          type="number"
            class="form-control"
            id="price"
            required
            [(ngModel)]="product.price"
            name="price"
          />
        </div>
  
        <button (click)="createProduct()" class="btn btn-success">Create</button>
      </div>
  
      <div *ngIf="submitted">
        <h3>You successfully created a product!</h3>
        <button class="btn btn-success" (click)="newProduct()">New..</button>
      </div>
    </div>
  </div>
